html, 
body {
    height: 100%;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
    overflow-y: hidden;
}

canvas {
    /* border-radius: 20px; */
}

.loader {
    border: 10px solid #000;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}