html,
body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #eee;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: #ddd;
    border: none;

    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #444;
}

button.loading {
    cursor: default;
    background-color: #ddd;
    color: black;
}

button.loading::after {
    content: '';
    /* animation: spin 2s linear infinite; */
    animation: changeLetter 2s linear infinite alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeLetter {
    0% {
        content: ' 🤨';
    }

    50% {
        content: ' 🤯';
    }

    100% {
        content: ' 🤔';
    }
}